body{
  /* Esta es el fondo de mi pagina web */
  background-image: linear-gradient(180deg, #6bd6c6 15.63%, #acd180 15.63%, #acd180 31.25%, #dbd99b 31.25%, #dbd99b 37.50%, #0FFFC3 37.50%, #0FFFC3 50%, #6bd6c6 50%, #6bd6c6 65.63%, #acd180 65.63%, #acd180 81.25%, #dbd99b 81.25%, #dbd99b 87.50%, #0FFFC3 87.50%, #0FFFC3 100%);
  background-size: 160.00px 160.00px;
}
  /* Propiedades de las secciones de la página */
.header{

  margin: auto;
  width: 500px;
  font-family: cursive;
  text-align: justify;
}
  /* Quitar las viñetas a las secciones */
.ol,ul {
  list-style: none;
}

  /* Agregar fondo y color de letra a las secciones  */
.nav li a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 120%;
  font-family: sans-serif;
}
  /* Agregar la propiedad de flotar a las secciones */
.nav >li {

  float: left;
}
  /* Agregar selector al menú de secciones */
.nav li a:hover {
  background-color: red;
}
  /* Agregar desplegado de submenús de las secciones */
.nav li ul {
  display: none;
  position: absolute;
  min-width: 150px;
}
/*Agregar selector de submenús*/
.nav li:hover > ul{
display: block
}

/*Agregar propiedades al apartado de descripción*/
.descrip {
  text-align: justify;
  color: black;
  width: 1300px;
  padding: 10px 15px;
  font-family: sans-serif;

}
/*Propiedades de estilo del encabezado de Bienvenida*/
h1 {

  text-align: center;
  color: black;
  font-family: sans-serif;
}

/*Propiedades de estilo del texto de instrucciones*/
h2 {

  text-align: justify;
  color: black;
  font-family: sans-serif;
}


/*Ingresar propiedades de estilo del botón de iniciar chat*/
#button_chat {
  display: block;
  width: auto;
  padding: 20px;
  margin: auto;
  background-color: black;
  font-family:sans-serif;
  font-size: 20px;
  color: white;
  border-bottom: 20px;
}

/*Propiedades de estilo del botón ingresando una animación de color al seleccionarlo*/
#button_chat:hover {

  background-color: red;
}
